<ion-content class ="mainscreen" >
    <ion-card class="card">
        <ion-card-header class="card-header">
          Explore Airbnb
        </ion-card-header>
        <ion-card-subtitle style ="margin: 0px 10px"> Let's go on a journey together! </ion-card-subtitle>
        <ion-card-content>
        <ion-list>
          <ion-item>
            Where?   <input  style="padding-left: 5px" type="text" placeholder="New York, USA" required>
          </ion-item>
          <ion-item>
            <ion-label>
             People:   <form style ="text-align: right" action ="/action_page.php">
              <select name ="numGuestsRange">
                <option value ="Not entered">---</option>
                <option value="2-4" > 1 </option>
                <option value="2-4" > 2-4 </option>
                <option value="2-4" > 4-6 </option>
                <option value="2-4" > 6-8 </option>
                <option value="2-4" > 8-10 </option>
                <option value="2-4" > 10-12 </option>
              </select>
            </form>
          </ion-label>
            </ion-item>
            <ion-item>
            <ion-label>From: </ion-label>
                    <ion-datetime placeholder = "06/09" display-format="MM/DD/YYYY" picker-format="MMMM DD YYYY" min ="2019" max = "2030"></ion-datetime>
                   
              </ion-item>
              <ion-item>
                <ion-label> To: </ion-label>
                 <ion-datetime placeholder = "06/09" display-format="MM/DD/YYYY" picker-format="MMMM DD YYYY" min ="2019" max = "2030"></ion-datetime>
                </ion-item>
        </ion-list>   
        <ion-button (click)="navToSaved()" > Search </ion-button>
        </ion-card-content>
    
    </ion-card>
</ion-content>

