<ion-header>
  <ion-toolbar>
    <ion-title class ="title">
      Profile 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class ="avatar">
      <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/50323519_1502749363201950_6804091407981084672_n.jpg?_nc_cat=102&_nc_ht=scontent.fopo2-1.fna&oh=1a078ebe348b500d16d239b58a095063&oe=5D5A9618">
  </ion-avatar>
  <ion-list>
      <ion-item>
        <ion-label>Date of Birth</ion-label>
        28/10/1999
      </ion-item>

      <ion-item>
          <ion-label>Place of Birth</ion-label>
          New York, USA
      </ion-item>
</ion-content>
